001_basic/Flow001.json
[{"id":"fa069e2b.1906f","type":"inject","z":"5c46a867.485088","name":"","topic":"","payload":"Hello World","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["14a803a3.38d6fc"]]},{"id":"14a803a3.38d6fc","type":"debug","z":"5c46a867.485088","name":"dbHello","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":340,"y":40,"wires":[]},{"id":"e5101ad5.9b0c58","type":"inject","z":"5c46a867.485088","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["390cb82.eef9948"]]},{"id":"aa531ec7.784dc","type":"inject","z":"5c46a867.485088","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["390cb82.eef9948"]]},{"id":"390cb82.eef9948","type":"function","z":"5c46a867.485088","name":"Counter&Global","func":"if(msg.payload === true){\n    if(context.hasOwnProperty(\"counter\") === false){\n        context.counter = 1;    \n    }else{\n        context.counter += 1;\n    }\n    context.global.counter = context.counter;\n    msg.payload = context.counter;\n}else {\n    context.counter = 0;\n    context.global.counter = 0;\n    msg.payload = \"Clear all to 0\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["8853cfa0.f577b"]]},{"id":"8853cfa0.f577b","type":"debug","z":"5c46a867.485088","name":"dbCounter","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":240,"wires":[]},{"id":"8db633cb.a7945","type":"switch","z":"5c46a867.485088","name":"Temp switcher","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"},{"t":"btwn","v":"18","vt":"num","v2":"30","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":360,"y":120,"wires":[["5329a0e4.4e48e"],["562f4d0c.245804"],["cca0706b.7092f"]]},{"id":"a162b8f6.1e2248","type":"inject","z":"5c46a867.485088","name":"","topic":"","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["8db633cb.a7945"]]},{"id":"5329a0e4.4e48e","type":"debug","z":"5c46a867.485088","name":"dbHot","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":80,"wires":[]},{"id":"562f4d0c.245804","type":"debug","z":"5c46a867.485088","name":"dbComfortably","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":620,"y":120,"wires":[]},{"id":"cca0706b.7092f","type":"debug","z":"5c46a867.485088","name":"dbCool","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":600,"y":160,"wires":[]},{"id":"d1cd224a.2a5e4","type":"inject","z":"5c46a867.485088","name":"","topic":"","payload":"Msg 01","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["2b590ee5.d07172"]]},{"id":"2b590ee5.d07172","type":"link out","z":"5c46a867.485088","name":"linkto001","links":["1bf28cde.c80163"],"x":295,"y":340,"wires":[]},{"id":"896a95b.9b47a68","type":"inject","z":"5c46a867.485088","name":"","topic":"","payload":"Msg 02","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":380,"wires":[["570bd8fa.f88758"]]},{"id":"570bd8fa.f88758","type":"link out","z":"5c46a867.485088","name":"linkto002","links":["7fe19a1a.426c74"],"x":295,"y":380,"wires":[]},{"id":"3d03b526.fbfa5a","type":"function","z":"5c46a867.485088","name":"timeConvert","func":"if ( !msg.timestamp ) {\n    msg.timestamp = Math.round(+new Date());\n}\n//Math.round() จะเป็นฟังก์ชัน ปัดเศษขึ้น\n//+new Date() เป็นฟังก์ชันที่จะนำค่าเวลาปัจจุบัน\n//ในหน่วยของมิลลิวินาทีเริ่มจาก 1 มกราคม 1970\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":440,"wires":[["c09faf9b.070ce"]]},{"id":"c09faf9b.070ce","type":"debug","z":"5c46a867.485088","name":"dbReadableTime","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":440,"wires":[]},{"id":"4f01703.41f2b9","type":"inject","z":"5c46a867.485088","name":"txCurrenttime","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":440,"wires":[["3d03b526.fbfa5a"]]}]