001_basic/Flow001.json
[{"id":"fa069e2b.1906f","type":"inject","z":"5c46a867.485088","name":"","topic":"","payload":"Hello World","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["14a803a3.38d6fc"]]},{"id":"14a803a3.38d6fc","type":"debug","z":"5c46a867.485088","name":"f1o_01","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":330,"y":40,"wires":[]},{"id":"e5101ad5.9b0c58","type":"inject","z":"5c46a867.485088","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["390cb82.eef9948"]]},{"id":"aa531ec7.784dc","type":"inject","z":"5c46a867.485088","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["390cb82.eef9948"]]},{"id":"390cb82.eef9948","type":"function","z":"5c46a867.485088","name":"Counter&Global","func":"if(msg.payload === true){\n    if(context.hasOwnProperty(\"counter\") === false){\n        context.counter = 1;    \n    }else{\n        context.counter += 1;\n    }\n    context.global.counter = context.counter;\n    msg.payload = context.counter;\n}else {\n    context.counter = 0;\n    context.global.counter = 0;\n    msg.payload = \"Clear all to 0\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["8853cfa0.f577b"]]},{"id":"8853cfa0.f577b","type":"debug","z":"5c46a867.485088","name":"f1o_02","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":240,"wires":[]},{"id":"8db633cb.a7945","type":"switch","z":"5c46a867.485088","name":"Temp switcher","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"},{"t":"btwn","v":"18","vt":"num","v2":"30","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":360,"y":120,"wires":[["5329a0e4.4e48e"],["562f4d0c.245804"],["cca0706b.7092f"]]},{"id":"a162b8f6.1e2248","type":"inject","z":"5c46a867.485088","name":"","topic":"","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["8db633cb.a7945"]]},{"id":"5329a0e4.4e48e","type":"debug","z":"5c46a867.485088","name":"db_Hot","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":600,"y":80,"wires":[]},{"id":"562f4d0c.245804","type":"debug","z":"5c46a867.485088","name":"db_Comfortably","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":620,"y":120,"wires":[]},{"id":"cca0706b.7092f","type":"debug","z":"5c46a867.485088","name":"db_Cool","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":600,"y":160,"wires":[]}]