001_basic/Flow002.json
[{"id":"1bf28cde.c80163","type":"link in","z":"59c44e3a.1abbe","name":"link01","links":["2b590ee5.d07172"],"x":155,"y":140,"wires":[["94942a95.997448"]]},{"id":"94942a95.997448","type":"debug","z":"59c44e3a.1abbe","name":"recv link1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":315,"y":140,"wires":[]},{"id":"76aa73fb.44e38c","type":"inject","z":"59c44e3a.1abbe","name":"","topic":"","payload":"counter","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["d3cab825.58f858"]]},{"id":"d3cab825.58f858","type":"function","z":"59c44e3a.1abbe","name":"Show global counter val","func":"msg.payload = context.global.counter;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":60,"wires":[["22e17c2f.031974"]]},{"id":"22e17c2f.031974","type":"debug","z":"59c44e3a.1abbe","name":"dbGlobalCounter","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":60,"wires":[]},{"id":"7fe19a1a.426c74","type":"link in","z":"59c44e3a.1abbe","name":"link02","links":["570bd8fa.f88758"],"x":155,"y":180,"wires":[["99c2aa4.c236358"]]},{"id":"99c2aa4.c236358","type":"debug","z":"59c44e3a.1abbe","name":"recv link2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":315,"y":180,"wires":[]}]