001_basic/Flow001.json
[{"id":"d0cc4d6d.b215a","type":"subflow","name":"Subflow AddBiasValue","info":"Add bias(+2) to payload","in":[{"x":80,"y":60,"wires":[{"id":"798ed2b2.b2be2c"}]}],"out":[{"x":540,"y":60,"wires":[{"id":"21b70d4e.0e0602","port":0}]}]},{"id":"798ed2b2.b2be2c","type":"function","z":"d0cc4d6d.b215a","name":"incrementer1","func":"msg.payload += 1;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":60,"wires":[["21b70d4e.0e0602"]]},{"id":"21b70d4e.0e0602","type":"function","z":"d0cc4d6d.b215a","name":"incrementer2","func":"msg.payload +=1;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":60,"wires":[[]]},{"id":"b64a5b2b.227918","type":"comment","z":"5c46a867.485088","name":"Howto csv and write file","info":"","x":120,"y":1040,"wires":[]},{"id":"fa069e2b.1906f","type":"inject","z":"5c46a867.485088","name":"","topic":"","payload":"Hello World","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":60,"wires":[["14a803a3.38d6fc"]]},{"id":"14a803a3.38d6fc","type":"debug","z":"5c46a867.485088","name":"dbHello","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":440,"y":60,"wires":[]},{"id":"e5101ad5.9b0c58","type":"inject","z":"5c46a867.485088","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":240,"wires":[["390cb82.eef9948"]]},{"id":"aa531ec7.784dc","type":"inject","z":"5c46a867.485088","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":280,"wires":[["390cb82.eef9948"]]},{"id":"390cb82.eef9948","type":"function","z":"5c46a867.485088","name":"Counter&Global","func":"if(msg.payload === true){\n    if(context.hasOwnProperty(\"counter\") === false){\n        context.counter = 1;    \n    }else{\n        context.counter += 1;\n    }\n    context.global.counter = context.counter;\n    msg.payload = context.counter;\n}else {\n    context.counter = 0;\n    context.global.counter = 0;\n    msg.payload = \"Clear all to 0\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":260,"wires":[["8853cfa0.f577b"]]},{"id":"8853cfa0.f577b","type":"debug","z":"5c46a867.485088","name":"dbCounter","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":260,"wires":[]},{"id":"8db633cb.a7945","type":"switch","z":"5c46a867.485088","name":"Temp switcher","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"},{"t":"btwn","v":"18","vt":"num","v2":"30","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":460,"y":120,"wires":[["5329a0e4.4e48e"],["562f4d0c.245804"],["cca0706b.7092f"]]},{"id":"a162b8f6.1e2248","type":"inject","z":"5c46a867.485088","name":"","topic":"","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":120,"wires":[["8db633cb.a7945"]]},{"id":"5329a0e4.4e48e","type":"debug","z":"5c46a867.485088","name":"dbHot","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":80,"wires":[]},{"id":"562f4d0c.245804","type":"debug","z":"5c46a867.485088","name":"dbComfortably","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":120,"wires":[]},{"id":"cca0706b.7092f","type":"debug","z":"5c46a867.485088","name":"dbCool","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":160,"wires":[]},{"id":"d1cd224a.2a5e4","type":"inject","z":"5c46a867.485088","name":"","topic":"","payload":"Msg 01","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":340,"wires":[["2b590ee5.d07172"]]},{"id":"2b590ee5.d07172","type":"link out","z":"5c46a867.485088","name":"linkto001","links":["1bf28cde.c80163"],"x":435,"y":340,"wires":[]},{"id":"896a95b.9b47a68","type":"inject","z":"5c46a867.485088","name":"","topic":"","payload":"Msg 02","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":380,"wires":[["570bd8fa.f88758"]]},{"id":"570bd8fa.f88758","type":"link out","z":"5c46a867.485088","name":"linkto002","links":["7fe19a1a.426c74"],"x":435,"y":380,"wires":[]},{"id":"3d03b526.fbfa5a","type":"function","z":"5c46a867.485088","name":"timeConvert","func":"if ( !msg.timestamp ) {\n    msg.timestamp = Math.round(+new Date());\n}\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":440,"wires":[["c09faf9b.070ce"]]},{"id":"c09faf9b.070ce","type":"debug","z":"5c46a867.485088","name":"dbReadableTime","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":440,"wires":[]},{"id":"4f01703.41f2b9","type":"inject","z":"5c46a867.485088","name":"txCurrenttime","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":440,"wires":[["3d03b526.fbfa5a"]]},{"id":"e06b21d.66062e","type":"http in","z":"5c46a867.485088","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":100,"y":580,"wires":[["5e1c854.24c197c"]]},{"id":"eaa7ee1d.95196","type":"http response","z":"5c46a867.485088","name":"httpresp /hello ","statusCode":"","headers":{},"x":600,"y":580,"wires":[]},{"id":"5e1c854.24c197c","type":"template","z":"5c46a867.485088","name":"HelloWorld Webpage","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>Page Title</title>\n    </head>\n    <body>\n        <h1>Hello World</h1> \n        <p> Please try: http://127.0.0.1:1880/hello</p>\n        <p>Paragraph Lorem ipsum dolor sit amet, \n        consectetur adipiscing elit. Nullam ligula mauris, \n        hendrerit ut libero at, ornare sollicitudin nibh. \n        Duis ac fermentum mauris.</p>\n        <p>Pellentesque eget porttitor nibh, \n        sit amet malesuada diam. \n        Sed aliquet metus ac purus egestas malesuada.\n        Curabitur tincidunt sit amet purus a efficitur.</p>\n    </body>\n</html>","output":"str","x":380,"y":580,"wires":[["eaa7ee1d.95196"]]},{"id":"d8af6c70.918cc","type":"inject","z":"5c46a867.485088","name":"Number 10","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":780,"wires":[["709106ff.248fe8"]]},{"id":"c9db17f1.eaea38","type":"debug","z":"5c46a867.485088","name":"dbSubflowbias","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":600,"y":780,"wires":[]},{"id":"709106ff.248fe8","type":"subflow:d0cc4d6d.b215a","z":"5c46a867.485088","name":"","x":380,"y":780,"wires":[["c9db17f1.eaea38"]]},{"id":"84d7ce4c.3dd75","type":"inject","z":"5c46a867.485088","name":"Tx timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":880,"wires":[["188d6fb6.f3529","4d90c21.bdd2f3c"]]},{"id":"4d90c21.bdd2f3c","type":"mqtt out","z":"5c46a867.485088","name":"hivemqtt tx topic1","topic":"nodered-mqtt/topic1","qos":"0","retain":"","broker":"d4bcd52c.28c638","x":370,"y":900,"wires":[]},{"id":"25834cc2.afa2c4","type":"mqtt in","z":"5c46a867.485088","name":"hivemqtt rx topic2","topic":"nodered-mqtt/topic2","qos":"2","broker":"d4bcd52c.28c638","x":120,"y":960,"wires":[["179329a0.adeab6"]]},{"id":"179329a0.adeab6","type":"debug","z":"5c46a867.485088","name":"dbTopic2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":340,"y":960,"wires":[]},{"id":"188d6fb6.f3529","type":"debug","z":"5c46a867.485088","name":"dbTxtimestamp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":360,"y":860,"wires":[]},{"id":"9c311a4b.e7bd98","type":"http in","z":"5c46a867.485088","name":"http get /setlamp","url":"/setlamp","method":"get","upload":false,"swaggerDoc":"","x":120,"y":680,"wires":[["d2f44c7a.2a176","a9997fa0.79aeb"]]},{"id":"5901f91c.22a9d8","type":"http in","z":"5c46a867.485088","name":"","url":"/echo","method":"get","upload":false,"swaggerDoc":"","x":100,"y":540,"wires":[["a0538b85.bb01f8"]]},{"id":"a0538b85.bb01f8","type":"http response","z":"5c46a867.485088","name":"resp http /echo","statusCode":"","headers":{},"x":360,"y":540,"wires":[]},{"id":"11170f62.b0b621","type":"comment","z":"5c46a867.485088","name":"Howto http  /echo","info":"# Howto http /echo\nOpen browser then try\n```\nhttp://127.0.0.1:1880/echo\nhttp://127.0.0.1:1880/echo?a=1\nhttp://127.0.0.1:1880/echo?a=1&b=hello\n```\n\n*Note* that the query string (name/value pairs) is sent in the URL of a GET request:\n```\n/test/demo_form.php?name1=value1&name2=value2\n```\n","x":100,"y":500,"wires":[]},{"id":"a9997fa0.79aeb","type":"function","z":"5c46a867.485088","name":"IsEnableLamp","func":"var json_obj = msg.payload;\n\nif(json_obj.enable == \"true\"){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":700,"wires":[["aa091078.29fdc","cc736162.8c8c2"]]},{"id":"d2f44c7a.2a176","type":"debug","z":"5c46a867.485088","name":"dbHttpGetSetlamp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":660,"wires":[]},{"id":"aa091078.29fdc","type":"debug","z":"5c46a867.485088","name":"dbIsEnableLamp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":680,"wires":[]},{"id":"cc736162.8c8c2","type":"template","z":"5c46a867.485088","name":"Lamp status page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>Lamp status</title>\n    </head>\n    <body>\n        <h3>Lamp status</h3> \n        <p> {{payload}} </p>\n    </body>\n</html>","output":"str","x":610,"y":720,"wires":[["11fa63ca.cfccac"]]},{"id":"11fa63ca.cfccac","type":"http response","z":"5c46a867.485088","name":"http resp get /setlamp","statusCode":"","headers":{},"x":840,"y":720,"wires":[]},{"id":"6ea6601b.b7425","type":"comment","z":"5c46a867.485088","name":"Howto http /setlamp","info":"# Howto /setlamp\nTry\n```\nhttp://127.0.0.1:1880/setlamp\nhttp://127.0.0.1:1880/setlamp?enable=true\nhttp://127.0.0.1:1880/setlamp?enable=false\nhttp://127.0.0.1:1880/setlamp?enable=0\nhttp://127.0.0.1:1880/setlamp?enable=1\n```","x":110,"y":640,"wires":[]},{"id":"56ee4d.72b031b4","type":"comment","z":"5c46a867.485088","name":"Howto mqtt","info":"# Free Broker\n1. broker.hivemq.com    Port 1883\n2. Iot.eclipse.org      Port 1883 \n3. test.mosquitto.org   Port 1883\n\nHivemq websocket demo \n- http://www.hivemq.com/demos/websocket-client/\n\n# Todo\nOpen hivemq websocket demo then\n- Connect\n- Sub topic: nodered-mqtt/topic1\n- Sub topic: nodered-mqtt/topic2\n- Using timestamp node to pub and see websocket debug\n- Using websocket pub to nodered-mqtt/topic2 and see topic2 debug \n","x":90,"y":840,"wires":[]},{"id":"fc5cfb37.fbfe58","type":"csv","z":"5c46a867.485088","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\r\\n","temp":"dat1,dat2","skip":"0","x":530,"y":1080,"wires":[["d1917bac.451aa8","67bdb1d.aef9d5"]]},{"id":"d1917bac.451aa8","type":"file","z":"5c46a867.485088","name":"","filename":"C:\\Users\\Napat\\Desktop\\tmp\\test.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":840,"y":1080,"wires":[]},{"id":"3dab4f28.2f7e7","type":"function","z":"5c46a867.485088","name":"tstampToCsv","func":"var newpayload = {};\n\ncurtime_sec = Math.round(msg.timestamp/1000);\ncurtime_msec = msg.timestamp%1000;\n\nnewpayload.dat1 = curtime_sec.toString();\nnewpayload.dat2 = curtime_msec.toString();\n\nmsg.payload = newpayload; \nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1080,"wires":[["fc5cfb37.fbfe58","1344008c.daf1ff"]]},{"id":"4db5708f.1a8fc","type":"inject","z":"5c46a867.485088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1080,"wires":[["3dab4f28.2f7e7"]]},{"id":"67bdb1d.aef9d5","type":"debug","z":"5c46a867.485088","name":"dbCsv","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":1120,"wires":[]},{"id":"1344008c.daf1ff","type":"debug","z":"5c46a867.485088","name":"dbFunctstampToCsv","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":520,"y":1120,"wires":[]},{"id":"99f02a2c.b08b38","type":"comment","z":"5c46a867.485088","name":"Link","info":"","x":70,"y":340,"wires":[]},{"id":"1e97643b.96954c","type":"comment","z":"5c46a867.485088","name":"Global variable, Bool, Function","info":"","x":150,"y":180,"wires":[]},{"id":"d3fb96cd.5b7228","type":"comment","z":"5c46a867.485088","name":"Switch","info":"","x":70,"y":120,"wires":[]},{"id":"b48c2851.816148","type":"comment","z":"5c46a867.485088","name":"Helloworld","info":"","x":80,"y":20,"wires":[]},{"id":"3506cc1c.292224","type":"comment","z":"5c46a867.485088","name":"Subflow","info":"","x":70,"y":740,"wires":[]},{"id":"d4bcd52c.28c638","type":"mqtt-broker","z":"","name":"hivemq","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]