002_dashboardui/dashboardui.json
[{"id":"f117848b.154458","type":"ui_button","z":"a5219aac.a1cac8","name":"btEnableLamp","group":"d5f3291a.bd4a18","order":4,"width":"3","height":"1","passthru":false,"label":"Enable Lamp","color":"","bgcolor":"","icon":"","payload":"Enable","payloadType":"str","topic":"","x":220,"y":320,"wires":[["f19f837f.77cfc"]]},{"id":"36815087.667a5","type":"ui_button","z":"a5219aac.a1cac8","name":"btDisableLamp","group":"d5f3291a.bd4a18","order":5,"width":"3","height":"1","passthru":false,"label":"Disable Lamp","color":"","bgcolor":"","icon":"","payload":"Disable","payloadType":"str","topic":"","x":220,"y":360,"wires":[["f19f837f.77cfc"]]},{"id":"66acd38d.f158fc","type":"ui_dropdown","z":"a5219aac.a1cac8","name":"fanspeed","label":"Fan speed","place":"0","group":"d5f3291a.bd4a18","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Disable","value":0,"type":"num"},{"label":"level 1","value":1,"type":"num"},{"label":"level 2","value":2,"type":"num"},{"label":"level 3","value":3,"type":"num"}],"payload":"","topic":"","x":400,"y":260,"wires":[["407323c3.3385ac","6f04a5d0.0bc71c"]]},{"id":"ac5bc0bd.b670d","type":"ui_switch","z":"a5219aac.a1cac8","name":"swFanEnable","label":"Fan enable","group":"d5f3291a.bd4a18","order":1,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":220,"y":140,"wires":[["6f04a5d0.0bc71c","e3243a60.801708"]]},{"id":"f49ddaec.48b378","type":"ui_slider","z":"a5219aac.a1cac8","name":"sliLampLvl","label":"Lamp level","group":"d5f3291a.bd4a18","order":6,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":210,"y":420,"wires":[["464732e2.8d52bc","d103a2d0.458e","9211e477.cf3848"]]},{"id":"407323c3.3385ac","type":"debug","z":"a5219aac.a1cac8","name":"dbFanSpeed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":260,"wires":[]},{"id":"6f04a5d0.0bc71c","type":"function","z":"a5219aac.a1cac8","name":"fanSpeedBuffer","func":"// Init fanspeed buff\nif(context.hasOwnProperty(\"fanspeedbuf\") === false){\n    context.fanspeedbuf = 0;    \n}\n\nif(typeof(msg.payload) === \"boolean\"){\n    // boolean: input from switch then set speed\n    if(msg.payload === true){\n        context.fanspeed = context.fanspeedbuf;\n    }else{ \n        context.fanspeed = 0\n    }\n    \n    msg.payload = context.fanspeed;\n    return [ null, msg ];\n}else{ \n    // !boolean: input from set speed then set to switch enable/disable \n    context.fanspeed = msg.payload;\n    context.fanspeedbuf = context.fanspeed;\n    if(msg.payload > 0){\n        msg.payload = true;\n    }else{ \n        msg.payload = false;\n    }\n    \n    return [ msg, null ];\n}\n\n","outputs":2,"noerr":0,"x":420,"y":200,"wires":[["8e42c4b1.e5ff18","ac5bc0bd.b670d"],["66acd38d.f158fc","19585e2.79280a2"]]},{"id":"8e42c4b1.e5ff18","type":"debug","z":"a5219aac.a1cac8","name":"dbSpeedbuf1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":180,"wires":[]},{"id":"19585e2.79280a2","type":"debug","z":"a5219aac.a1cac8","name":"dbSpeedbuf2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":220,"wires":[]},{"id":"e3243a60.801708","type":"debug","z":"a5219aac.a1cac8","name":"dbFanEn","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":140,"wires":[]},{"id":"f19f837f.77cfc","type":"ui_text_input","z":"a5219aac.a1cac8","name":"txtLampStatus","label":"Lamp status","group":"d5f3291a.bd4a18","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":460,"y":340,"wires":[[]]},{"id":"464732e2.8d52bc","type":"ui_text_input","z":"a5219aac.a1cac8","name":"txtLampLvl","label":"","group":"d5f3291a.bd4a18","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":450,"y":420,"wires":[[]]},{"id":"d103a2d0.458e","type":"ui_gauge","z":"a5219aac.a1cac8","name":"gaugeLampLvl","group":"d5f3291a.bd4a18","order":0,"width":0,"height":0,"gtype":"gage","title":"Lamp level","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":480,"wires":[]},{"id":"9211e477.cf3848","type":"ui_chart","z":"a5219aac.a1cac8","name":"chartLampLvl","group":"d5f3291a.bd4a18","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":470,"y":540,"wires":[[],[]]},{"id":"e98c3782.df8178","type":"ui_button","z":"a5219aac.a1cac8","name":"btOn","group":"f63305c1.7098a8","order":1,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"{'enable':'1'}","payloadType":"str","topic":"tab02/btonoff","x":110,"y":800,"wires":[["4b168f08.25c6d","3679e5d0.72430a","4c481ca1.107854"]]},{"id":"a61d63cf.88338","type":"ui_button","z":"a5219aac.a1cac8","name":"btOff","group":"f63305c1.7098a8","order":2,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"{'enable':'0'}","payloadType":"str","topic":"tab02/btonoff","x":110,"y":840,"wires":[["4b168f08.25c6d","3679e5d0.72430a","4c481ca1.107854"]]},{"id":"4b168f08.25c6d","type":"debug","z":"a5219aac.a1cac8","name":"dbBtOnOff","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":800,"wires":[]},{"id":"19061edd.1c3821","type":"comment","z":"a5219aac.a1cac8","name":"Tab02","info":"","x":70,"y":760,"wires":[]},{"id":"86275c08.74a19","type":"comment","z":"a5219aac.a1cac8","name":"TabHome","info":"","x":80,"y":60,"wires":[]},{"id":"27b6d90d.e9e766","type":"comment","z":"a5219aac.a1cac8","name":"GroupRoom1","info":"","x":110,"y":100,"wires":[]},{"id":"28303d03.371612","type":"comment","z":"a5219aac.a1cac8","name":"GroupRoom2","info":"","x":110,"y":580,"wires":[]},{"id":"5b447006.3be0f","type":"ui_date_picker","z":"a5219aac.a1cac8","name":"dateRoom2","label":"date","group":"3cf8acba.c25574","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":210,"y":700,"wires":[[]]},{"id":"a35c6fc8.ea9da","type":"ui_numeric","z":"a5219aac.a1cac8","name":"numRoom2","label":"numeric","group":"3cf8acba.c25574","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":430,"y":700,"wires":[[]]},{"id":"d83c598a.1ba958","type":"inject","z":"a5219aac.a1cac8","name":"injectTimestamp","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":false,"onceDelay":"1","x":230,"y":640,"wires":[["c5faf527.51d3a8"]]},{"id":"1431cd57.78b173","type":"ui_chart","z":"a5219aac.a1cac8","name":"chartTimesec ","group":"3cf8acba.c25574","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":660,"y":620,"wires":[[],[]]},{"id":"c5faf527.51d3a8","type":"function","z":"a5219aac.a1cac8","name":"timeSecCounter","func":"curtime = msg.payload;\ncurtime_sec = Math.floor(curtime/1000);\n\nif(context.hasOwnProperty(\"time_beginsec\") === false){\n    context.time_beginsec = curtime_sec;    \n}\n\nif(context.hasOwnProperty(\"time_ticksec\") === false){\n    context.time_ticksec = curtime_sec;    \n}\n\nif( curtime_sec <= context.time_ticksec ){\n    return null;    \n}\n\nmsg.payload = curtime_sec - context.time_beginsec;\ncontext.time_ticksec = curtime_sec;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":640,"wires":[["1431cd57.78b173","e71f66cc.96be58"]]},{"id":"e71f66cc.96be58","type":"debug","z":"a5219aac.a1cac8","name":"dbTimeSecCounter","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":660,"wires":[]},{"id":"1d5b5abd.fb1495","type":"comment","z":"a5219aac.a1cac8","name":"NOTE: timestamp ","info":"Timestamp interval of nodered is not accurate.\nFor example, \n1.02, 2.05, 3.07, 4.10, ...\nTo higher resolution, we need to handle by yourself \nby create function that receive time trigger every 0.1 sec.","x":870,"y":620,"wires":[]},{"id":"3679e5d0.72430a","type":"ui_text_input","z":"a5219aac.a1cac8","name":"txtBtOnOff","label":"","group":"f63305c1.7098a8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":350,"y":840,"wires":[[]]},{"id":"4c481ca1.107854","type":"e-mail","z":"a5219aac.a1cac8","server":"smtp.gmail.com","port":"465","secure":true,"name":"napat.joe@gmail.com","dname":"gmail from nodered  ..","x":390,"y":900,"wires":[]},{"id":"d5f3291a.bd4a18","type":"ui_group","z":"","name":"GroupRoom1","tab":"a3654820.17c288","disp":true,"width":"6","collapse":true},{"id":"f63305c1.7098a8","type":"ui_group","z":"","name":"LedController","tab":"9128e9ac.0421f8","disp":true,"width":"6","collapse":false},{"id":"3cf8acba.c25574","type":"ui_group","z":"","name":"GroupRoom2","tab":"a3654820.17c288","disp":true,"width":"6","collapse":false},{"id":"a3654820.17c288","type":"ui_tab","z":"","name":"TabHome","icon":"dashboard","order":1},{"id":"9128e9ac.0421f8","type":"ui_tab","z":"","name":"Tab02","icon":"dashboard","order":2}]