003_freeboard/hellofreeboard.json
[{"id":"1400c7a7.f43308","type":"freeboard","z":"4cd3c850.061508","name":"fboard_randnum","x":660,"y":80,"wires":[]},{"id":"6d731964.72f778","type":"inject","z":"4cd3c850.061508","name":"timetrigger_5sec","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":80,"wires":[["bb087ce9.4b60e"]]},{"id":"bb087ce9.4b60e","type":"function","z":"4cd3c850.061508","name":"random_between2to100","func":"// https://stackoverflow.com/a/1527820\n/**\n * Returns a random number between min (inclusive) and max (exclusive)\n */\nfunction getRandomArbitrary(min, max) {\n    return Math.random() * (max - min) + min;\n}\n\n/**\n * Returns a random integer between min (inclusive) and max (inclusive)\n * Using Math.round() will give you a non-uniform distribution!\n */\nfunction getRandomInt(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nvar score = getRandomInt(2,100);\n\n//msg.payload = {score:score};\n\nvar payload = {};\npayload.score = score;\npayload.score_str = \"score: \" + score.toString();\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":80,"wires":[["1400c7a7.f43308","ac5b78d9.0671b8"]]},{"id":"ac5b78d9.0671b8","type":"debug","z":"4cd3c850.061508","name":"rand to freeboard","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":140,"wires":[]},{"id":"4a196f0a.36929","type":"http in","z":"4cd3c850.061508","name":"http_in_freeboard_slider","url":"/sliderval","method":"get","upload":false,"swaggerDoc":"","x":190,"y":240,"wires":[["5058fe35.454ac","e0891218.b5692"]]},{"id":"5058fe35.454ac","type":"debug","z":"4cd3c850.061508","name":"db_fboardslider","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":280,"wires":[]},{"id":"e0891218.b5692","type":"http response","z":"4cd3c850.061508","name":"httpresp_slider","statusCode":"","headers":{},"x":420,"y":240,"wires":[]},{"id":"12318fa7.c8704","type":"http in","z":"4cd3c850.061508","name":"httpin_switch01","url":"/switch01","method":"get","upload":false,"swaggerDoc":"","x":160,"y":380,"wires":[["3fc93fd7.164f","cf50c478.340a68","3d0b6e39.7d5852"]]},{"id":"3fc93fd7.164f","type":"http response","z":"4cd3c850.061508","name":"httpresp_switch01","statusCode":"","headers":{},"x":430,"y":380,"wires":[]},{"id":"cf50c478.340a68","type":"debug","z":"4cd3c850.061508","name":"db_switch01","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":460,"wires":[]},{"id":"d7f07cf0.1a86a","type":"freeboard","z":"4cd3c850.061508","name":"fboard_lightstatus","x":670,"y":420,"wires":[]},{"id":"3d0b6e39.7d5852","type":"function","z":"4cd3c850.061508","name":"func_lightcontroller","func":"if(msg.payload.enable == \"on\"){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":420,"wires":[["d7f07cf0.1a86a"]]}]